{
  "passPerPreset": true,
  "presets": [
    ["@babel/preset-env", {
      "include": ["@babel/plugin-transform-spread"]
    }]
  ],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [
          ".gql",
          ".graphql"
        ]
      }
    ]
  ]
}
